<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (salesInvoiceLineBatch(); as salesInvoiceLineBatchRef) {
      <div>
        <h2 data-cy="salesInvoiceLineBatchDetailsHeading"><span>Sales Invoice Line Batch</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.id }}</span>
          </dd>
          <dt><span>Line Id</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.lineId }}</span>
          </dd>
          <dt><span>Batch Line Id</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.batchLineId }}</span>
          </dd>
          <dt><span>Item Id</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.itemId }}</span>
          </dd>
          <dt><span>Code</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.code }}</span>
          </dd>
          <dt><span>Batch Id</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.batchId }}</span>
          </dd>
          <dt><span>Batch Code</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.batchCode }}</span>
          </dd>
          <dt><span>Tx Date</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.txDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Manufacture Date</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.manufactureDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Expired Date</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.expiredDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Qty</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.qty }}</span>
          </dd>
          <dt><span>Cost</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.cost }}</span>
          </dd>
          <dt><span>Price</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.price }}</span>
          </dd>
          <dt><span>Notes</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.notes }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.lmu }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.lmd | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Nbt</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.nbt }}</span>
          </dd>
          <dt><span>Vat</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.vat }}</span>
          </dd>
          <dt><span>Added By Id</span></dt>
          <dd>
            <span>{{ salesInvoiceLineBatchRef.addedById }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/sales-invoice-line-batch', salesInvoiceLineBatchRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
