<style>
  .custom-back-btn,
  .custom-edit-btn {
    width: 50%; /* Each button takes half the width */
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  .button-container {
    display: flex;
    width: 100%; /* Ensures full width */
    gap: 3px; /* Minimal spacing between buttons */
  }
  </style>
<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (salesInvoiceLines(); as salesInvoiceLinesRef) {
      <div>
        <h2 data-cy="salesInvoiceLinesDetailsHeading"><span>Sales Invoice Lines</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.id }}</span>
          </dd>
          <dt><span>Invoiceid</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.invoiceid }}</span>
          </dd>
          <dt><span>Lineid</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.lineid }}</span>
          </dd>
          <dt><span>Itemid</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.itemid }}</span>
          </dd>
          <dt><span>Itemcode</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.itemcode }}</span>
          </dd>
          <dt><span>Itemname</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.itemname }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.description }}</span>
          </dd>
          <dt><span>Unitofmeasurement</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.unitofmeasurement }}</span>
          </dd>
          <dt><span>Quantity</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.quantity }}</span>
          </dd>
          <dt><span>Itemcost</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.itemcost }}</span>
          </dd>
          <dt><span>Itemprice</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.itemprice }}</span>
          </dd>
          <dt><span>Discount</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.discount }}</span>
          </dd>
          <dt><span>Tax</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.tax }}</span>
          </dd>
          <dt><span>Sellingprice</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.sellingprice }}</span>
          </dd>
          <dt><span>Linetotal</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.linetotal }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.lmu }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.lmd | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Nbt</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.nbt }}</span>
          </dd>
          <dt><span>Vat</span></dt>
          <dd>
            <span>{{ salesInvoiceLinesRef.vat }}</span>
          </dd>
        </dl>
<div class="button-container">
  <button type="submit" (click)="previousState()" class="btn btn-secondary custom-back-btn" data-cy="entityDetailsBackButton">
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
  </button>

  <button type="button" [routerLink]="['/sales-invoice-lines', salesInvoiceLinesRef.id, 'edit']" class="btn btn-primary custom-edit-btn">
    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
  </button>
</div>
        
      </div>
    }
  </div>
</div>
