
<style>
  .btn-custom-save {
      background-color: #007bff; /* Bootstrap primary blue */
      color: white;
      border-radius: 5px;
      padding: 10px 20px;
      font-weight: bold;
  }
  .btn-custom-save:hover {
      background-color: #0056b3; /* Darker blue on hover */
  }
  .btn-custom-cancel {
      background-color: transparent;
      color: #6c757d; /* Bootstrap secondary color */
      border: 2px solid #6c757d;
      border-radius: 5px;
      padding: 10px 20px;
      font-weight: bold;
  }
  .btn-custom-cancel:hover {
      background-color: #6c757d;
      color: white;
  }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<div class="d-flex justify-content">
  <div class="col-12">
    <form name="editForm" novalidate [formGroup]="editForm">
      <h2
        id="jhi-sales-invoice-service-charge-line-dummy-heading"
        data-cy="SalesInvoiceServiceChargeLineDummyCreateUpdateHeading"
        *ngIf="showCodeField"
      ></h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <div>
          <select class="form-select" (change)="onDropdownChange($event)">
            <option *ngFor="let vehicletype of vehicletypes" [value]="vehicletype.id">
              {{ vehicletype.vehicletype }}
            </option>
          </select>
          <br />
        </div>
        <div *ngIf="allBillingServiceOptions.length > 0">
          <div *ngFor="let optionsGroup of allBillingServiceOptions">
            <div *ngFor="let option of optionsGroup">
              {{ option.servicename }}
              <input type="checkbox" [value]="option.servicename" (change)="onCheckboxChange($event, option.servicename, option.id)" />
            </div>
            <br />
          </div>
        </div>
        <button (click)="addToTable()">Add to Table</button>

        <table class="table">
          <thead>
            <tr>
              <th *ngIf="false">ID</th>
              <th *ngIf="false">Invoice Id</th>
              <th *ngIf="false">Line Id</th>
              <th *ngIf="false">Option Id</th>
              <th>Service Name</th>
              <th *ngIf="false">Service Description</th>
              <th>Value</th>
              <th>Is Customer Service</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody formArrayName="serviceChargeLines">
            <tr *ngFor="let line of serviceChargeLinesArray.controls; let i = index" [formGroupName]="i">
              <td *ngIf="false">
                <input type="number" class="form-control" formControlName="id" [readonly]="true" *ngIf="line.get('id')?.value" />
              </td>
              <td *ngIf="false">
                <input type="number" class="form-control" formControlName="invoiceId" />
              </td>
              <td *ngIf="false">
                <input type="number" class="form-control" formControlName="lineId" />
              </td>
              <td *ngIf="false">
                <input type="number" class="form-control" formControlName="optionId" />
              </td>
              <td>
                <input formControlName="serviceName" type="text" (input)="onItemCodeInput($event, i)" [attr.list]="'autocomplete_' + i" />

                <datalist [id]="'autocomplete_' + i">
                  <option *ngFor="let item of filteredItems[i]" [value]="item.servicename">
                    {{ item.servicename }}
                  </option>
                </datalist>
              </td>
              <td *ngIf="false">
                <input type="text" class="form-control" formControlName="serviceDescription" />
              </td>
              <td>
                <input type="number" class="form-control" formControlName="value" />
              </td>
              <td>
                <input type="checkbox" class="form-check" formControlName="isCustomerService" />
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-link text-danger p-0" (click)="removeServiceChargeLine(i)"><i class="fas fa-trash fs-5"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div  class="container text-center mt-5" *ngIf="false">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-custom-cancel me-2"style="flex: 1;" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-custom-save"

          *ngIf="false"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
