<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (bankbranch(); as bankbranchRef) {
      <div>
        <h2 data-cy="bankbranchDetailsHeading"><span>Bankbranch</span></h2>

        <hr />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ bankbranchRef.id }}</span>
          </dd>
          <dt><span>Bankcode</span></dt>
          <dd>
            <span>{{ bankbranchRef.bankcode }}</span>
          </dd>
          <dt><span>Branchcode</span></dt>
          <dd>
            <span>{{ bankbranchRef.branchcode }}</span>
          </dd>
          <dt><span>Branchname</span></dt>
          <dd>
            <span>{{ bankbranchRef.branchname }}</span>
          </dd>
        </dl>
      </div>
    }
  </div>
</div>
