<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sales-invoice-line-batch-heading" data-cy="SalesInvoiceLineBatchCreateUpdateHeading">
        Create or edit a Sales Invoice Line Batch
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_lineId">Line Id</label>
          <input type="number" class="form-control" name="lineId" id="field_lineId" data-cy="lineId" formControlName="lineId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_batchLineId">Batch Line Id</label>
          <input
            type="number"
            class="form-control"
            name="batchLineId"
            id="field_batchLineId"
            data-cy="batchLineId"
            formControlName="batchLineId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_itemId">Item Id</label>
          <input type="number" class="form-control" name="itemId" id="field_itemId" data-cy="itemId" formControlName="itemId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_batchId">Batch Id</label>
          <input type="number" class="form-control" name="batchId" id="field_batchId" data-cy="batchId" formControlName="batchId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_batchCode">Batch Code</label>
          <input type="text" class="form-control" name="batchCode" id="field_batchCode" data-cy="batchCode" formControlName="batchCode" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_txDate">Tx Date</label>
          <div class="d-flex">
            <input
              id="field_txDate"
              data-cy="txDate"
              type="datetime-local"
              class="form-control"
              name="txDate"
              formControlName="txDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_manufactureDate">Manufacture Date</label>
          <div class="d-flex">
            <input
              id="field_manufactureDate"
              data-cy="manufactureDate"
              type="datetime-local"
              class="form-control"
              name="manufactureDate"
              formControlName="manufactureDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_expiredDate">Expired Date</label>
          <div class="d-flex">
            <input
              id="field_expiredDate"
              data-cy="expiredDate"
              type="datetime-local"
              class="form-control"
              name="expiredDate"
              formControlName="expiredDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_qty">Qty</label>
          <input type="number" class="form-control" name="qty" id="field_qty" data-cy="qty" formControlName="qty" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cost">Cost</label>
          <input type="number" class="form-control" name="cost" id="field_cost" data-cy="cost" formControlName="cost" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmu">Lmu</label>
          <input type="number" class="form-control" name="lmu" id="field_lmu" data-cy="lmu" formControlName="lmu" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmd">Lmd</label>
          <div class="d-flex">
            <input
              id="field_lmd"
              data-cy="lmd"
              type="datetime-local"
              class="form-control"
              name="lmd"
              formControlName="lmd"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nbt">Nbt</label>
          <input type="checkbox" class="form-check" name="nbt" id="field_nbt" data-cy="nbt" formControlName="nbt" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vat">Vat</label>
          <input type="checkbox" class="form-check" name="vat" id="field_vat" data-cy="vat" formControlName="vat" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_addedById">Added By Id</label>
          <input type="number" class="form-control" name="addedById" id="field_addedById" data-cy="addedById" formControlName="addedById" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
