<div>
  <h2 id="page-heading" data-cy="BinCardHeading">
    <span>Bin Cards</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bin-card"
        [routerLink]="['/bin-card/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Bin Card</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (binCards().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Bin Cards found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="itemID">
              <div class="d-flex">
                <span>Item ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="itemCode">
              <div class="d-flex">
                <span>Item Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reference">
              <div class="d-flex">
                <span>Reference</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="txDate">
              <div class="d-flex">
                <span>Tx Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="qtyIn">
              <div class="d-flex">
                <span>Qty In</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="qtyOut">
              <div class="d-flex">
                <span>Qty Out</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="price">
              <div class="d-flex">
                <span>Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lMU">
              <div class="d-flex">
                <span>L MU</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lMD">
              <div class="d-flex">
                <span>L MD</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="referenceCode">
              <div class="d-flex">
                <span>Reference Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="recordDate">
              <div class="d-flex">
                <span>Record Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="batchId">
              <div class="d-flex">
                <span>Batch Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="locationID">
              <div class="d-flex">
                <span>Location ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="locationCode">
              <div class="d-flex">
                <span>Location Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="opening">
              <div class="d-flex">
                <span>Opening</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span>Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="referenceDoc">
              <div class="d-flex">
                <span>Reference Doc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (binCard of binCards(); track trackId(binCard)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/bin-card', binCard.id, 'view']">{{ binCard.id }}</a>
              </td>
              <td>{{ binCard.itemID }}</td>
              <td>{{ binCard.itemCode }}</td>
              <td>{{ binCard.reference }}</td>
              <td>{{ binCard.txDate | formatMediumDatetime }}</td>
              <td>{{ binCard.qtyIn }}</td>
              <td>{{ binCard.qtyOut }}</td>
              <td>{{ binCard.price }}</td>
              <td>{{ binCard.lMU }}</td>
              <td>{{ binCard.lMD | formatMediumDatetime }}</td>
              <td>{{ binCard.referenceCode }}</td>
              <td>{{ binCard.recordDate | formatMediumDatetime }}</td>
              <td>{{ binCard.batchId }}</td>
              <td>{{ binCard.locationID }}</td>
              <td>{{ binCard.locationCode }}</td>
              <td>{{ binCard.opening }}</td>
              <td>{{ binCard.description }}</td>
              <td>{{ binCard.referenceDoc }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/bin-card', binCard.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/bin-card', binCard.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(binCard)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (binCards().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
