<style>
  .custom-cancel-btn {
    background-color: #a9a29f; /* Light brownish-grey */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
  }

  .custom-save-btn {
    background-color: #4caf50; /* Green */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
  }

  .custom-cancel-btn:hover {
    background-color: #8b837e; /* Darker shade */
  }

  .custom-save-btn:hover {
    background-color: #388e3c; /* Darker green */
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
</style>
<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate [formGroup]="editForm">
      <h2 id="jhi-sale-invoice-common-service-charge-heading" data-cy="SaleInvoiceCommonServiceChargeCreateUpdateHeading">
        Create or edit a Sale Invoice Common Service Charge
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Invoice Id</th>
              <th>Line Id</th>
              <th>Option Id</th>
              <th>Main Id</th>
              <th>Code</th>
              <th>Name</th>
              <th>Description</th>
              <th>Value</th>
              <th>Discount</th>
              <th>Service Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody formArrayName="serviceCharges">
            <tr *ngFor="let dummy of serviceChargesArray.controls; let i = index" [formGroupName]="i">
              <td>
                <input type="number" class="form-control" formControlName="id" [readonly]="true" *ngIf="dummy.get('id')?.value" />
              </td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  name="invoiceId"
                  id="field_invoiceId"
                  data-cy="invoiceId"
                  formControlName="invoiceId"
                />
              </td>
              <td>
                <input type="number" class="form-control" name="lineId" id="field_lineId" data-cy="lineId" formControlName="lineId" />
              </td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  name="optionId"
                  id="field_optionId"
                  data-cy="optionId"
                  formControlName="optionId"
                />
              </td>
              <td>
                <input type="number" class="form-control" name="mainId" id="field_mainId" data-cy="mainId" formControlName="mainId" />
              </td>
              <td>
                <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
              </td>
              <td>
                <input
                  formControlName="name"
                  type="text"
                  (input)="onItemCodeInput($event, i)"
                  (change)="onItemCodeSelect($event, i)"
                  [attr.list]="'autocomplete__' + i"
                />

                <datalist [id]="'autocomplete__' + i">
                  <option *ngFor="let item of filteredItems[i]" [value]="item.name">
                    {{ item.mainname }}
                  </option>
                </datalist>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="description"
                  id="field_description"
                  data-cy="description"
                  formControlName="description"
                />
              </td>
              <td>
                <input type="number" class="form-control" name="value" id="field_value" data-cy="value" formControlName="value" />
              </td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  name="discount"
                  id="field_discount"
                  data-cy="discount"
                  formControlName="discount"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  name="servicePrice"
                  id="field_servicePrice"
                  data-cy="servicePrice"
                  formControlName="servicePrice"
                />
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="removeServiceChargeDummy(i)">Remove</button>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-secondary btn-lg" (click)="addServiceChargeDummy()">Add Line</button>
      </div>

      <div class="button-container">
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary custom-cancel-btn"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary custom-save-btn"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
