<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-transactions-heading" data-cy="TransactionsCreateUpdateHeading">Create or edit a Transactions</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_accountId">Account Id</label>
          <input type="number" class="form-control" name="accountId" id="field_accountId" data-cy="accountId" formControlName="accountId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_accountCode">Account Code</label>
          <input
            type="text"
            class="form-control"
            name="accountCode"
            id="field_accountCode"
            data-cy="accountCode"
            formControlName="accountCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_debit">Debit</label>
          <input type="number" class="form-control" name="debit" id="field_debit" data-cy="debit" formControlName="debit" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_credit">Credit</label>
          <input type="number" class="form-control" name="credit" id="field_credit" data-cy="credit" formControlName="credit" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_refDoc">Ref Doc</label>
          <input type="text" class="form-control" name="refDoc" id="field_refDoc" data-cy="refDoc" formControlName="refDoc" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_refId">Ref Id</label>
          <input type="number" class="form-control" name="refId" id="field_refId" data-cy="refId" formControlName="refId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_subId">Sub Id</label>
          <textarea class="form-control" name="subId" id="field_subId" data-cy="subId" formControlName="subId"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_source">Source</label>
          <input type="text" class="form-control" name="source" id="field_source" data-cy="source" formControlName="source" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_paymentTermId">Payment Term Id</label>
          <input
            type="number"
            class="form-control"
            name="paymentTermId"
            id="field_paymentTermId"
            data-cy="paymentTermId"
            formControlName="paymentTermId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_paymentTermName">Payment Term Name</label>
          <input
            type="text"
            class="form-control"
            name="paymentTermName"
            id="field_paymentTermName"
            data-cy="paymentTermName"
            formControlName="paymentTermName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmu">Lmu</label>
          <input type="number" class="form-control" name="lmu" id="field_lmu" data-cy="lmu" formControlName="lmu" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmd">Lmd</label>
          <div class="d-flex">
            <input
              id="field_lmd"
              data-cy="lmd"
              type="datetime-local"
              class="form-control"
              name="lmd"
              formControlName="lmd"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
