@if (bankbranch) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(bankbranch.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="bankbranchDeleteDialogHeading">Confirm delete operation</h4>
    </div>

    <div class="modal-body">
      <p id="jhi-delete-bankbranch-heading">Are you sure you want to delete Bankbranch {{ bankbranch.id }}?</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()"></button>

      <button id="jhi-confirm-delete-bankbranch" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger"></button>
    </div>
  </form>
}
