<div>
  <h2 id="page-heading" data-cy="EmployeeHeading">
    <span>Translation missing for racApp.employee.home.title</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Translation missing for racApp.employee.home.refreshListLabel</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-employee"
        [routerLink]="['/employee/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Translation missing for racApp.employee.home.createLabel</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (employees?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Translation missing for racApp.employee.home.notFound</span>
    </div>
  }

  @if (employees && employees.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span>Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fullName">
              <div class="d-flex">
                <span>Full Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nameWithInitials">
              <div class="d-flex">
                <span>Name With Initials</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="surname">
              <div class="d-flex">
                <span>Surname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nicNumber">
              <div class="d-flex">
                <span>Nic Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nicIssueDate">
              <div class="d-flex">
                <span>Nic Issue Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="passportNo">
              <div class="d-flex">
                <span>Passport No</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="passportIssueDate">
              <div class="d-flex">
                <span>Passport Issue Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="passportExpDate">
              <div class="d-flex">
                <span>Passport Exp Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateOfBirth">
              <div class="d-flex">
                <span>Date Of Birth</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="age">
              <div class="d-flex">
                <span>Age</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bloodGroup">
              <div class="d-flex">
                <span>Blood Group</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gender">
              <div class="d-flex">
                <span>Gender</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phone2">
              <div class="d-flex">
                <span>Phone 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maritalStatus">
              <div class="d-flex">
                <span>Marital Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="marriedDate">
              <div class="d-flex">
                <span>Married Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nationality">
              <div class="d-flex">
                <span>Nationality</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="permanentAddress">
              <div class="d-flex">
                <span>Permanent Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="temporaryAddress">
              <div class="d-flex">
                <span>Temporary Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="home">
              <div class="d-flex">
                <span>Home</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mobile">
              <div class="d-flex">
                <span>Mobile</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fax">
              <div class="d-flex">
                <span>Fax</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span>Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="emergencyContactPerson">
              <div class="d-flex">
                <span>Emergency Contact Person</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="emergencyNumber">
              <div class="d-flex">
                <span>Emergency Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="city">
              <div class="d-flex">
                <span>City</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="district">
              <div class="d-flex">
                <span>District</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="province">
              <div class="d-flex">
                <span>Province</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="electorate">
              <div class="d-flex">
                <span>Electorate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mainRoad">
              <div class="d-flex">
                <span>Main Road</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="modeOfTransport">
              <div class="d-flex">
                <span>Mode Of Transport</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="distance">
              <div class="d-flex">
                <span>Distance</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="travelTime">
              <div class="d-flex">
                <span>Travel Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="username">
              <div class="d-flex">
                <span>Username</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="password">
              <div class="d-flex">
                <span>Password</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="departmentID">
              <div class="d-flex">
                <span>Department ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="departmentCode">
              <div class="d-flex">
                <span>Department Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="empRegDate">
              <div class="d-flex">
                <span>Emp Reg Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lmu">
              <div class="d-flex">
                <span>Lmu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lmd">
              <div class="d-flex">
                <span>Lmd</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="roleId">
              <div class="d-flex">
                <span>Role Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="roleName">
              <div class="d-flex">
                <span>Role Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="epf">
              <div class="d-flex">
                <span>Epf</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="etf">
              <div class="d-flex">
                <span>Etf</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateJoined">
              <div class="d-flex">
                <span>Date Joined</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateResigned">
              <div class="d-flex">
                <span>Date Resigned</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="designation">
              <div class="d-flex">
                <span>Designation</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="jobStatusId">
              <div class="d-flex">
                <span>Job Status Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="jobStatusName">
              <div class="d-flex">
                <span>Job Status Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="imagePath">
              <div class="d-flex">
                <span>Image Path</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bankAccountNo">
              <div class="d-flex">
                <span>Bank Account No</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bankId">
              <div class="d-flex">
                <span>Bank Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bankName">
              <div class="d-flex">
                <span>Bank Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="branchId">
              <div class="d-flex">
                <span>Branch Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="branchName">
              <div class="d-flex">
                <span>Branch Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="salaryPaymentBasis">
              <div class="d-flex">
                <span>Salary Payment Basis</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="empStatus">
              <div class="d-flex">
                <span>Emp Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="religion">
              <div class="d-flex">
                <span>Religion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="experience">
              <div class="d-flex">
                <span>Experience</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="qualifications">
              <div class="d-flex">
                <span>Qualifications</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="attendanceCode">
              <div class="d-flex">
                <span>Attendance Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isActive">
              <div class="d-flex">
                <span>Is Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (employee of employees; track trackId(employee)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/employee', employee.id, 'view']">{{ employee.id }}</a>
              </td>
              <td>{{ employee.code }}</td>
              <td>{{ employee.fullName }}</td>
              <td>{{ employee.nameWithInitials }}</td>
              <td>{{ employee.surname }}</td>
              <td>{{ employee.nicNumber }}</td>
              <td>{{ employee.nicIssueDate | formatMediumDate }}</td>
              <td>{{ employee.passportNo }}</td>
              <td>{{ employee.passportIssueDate | formatMediumDate }}</td>
              <td>{{ employee.passportExpDate | formatMediumDate }}</td>
              <td>{{ employee.dateOfBirth | formatMediumDate }}</td>
              <td>{{ employee.age }}</td>
              <td>{{ employee.bloodGroup }}</td>
              <td>{{ employee.gender }}</td>
              <td>{{ employee.phone2 }}</td>
              <td>{{ employee.maritalStatus }}</td>
              <td>{{ employee.marriedDate | formatMediumDate }}</td>
              <td>{{ employee.nationality }}</td>
              <td>{{ employee.permanentAddress }}</td>
              <td>{{ employee.temporaryAddress }}</td>
              <td>{{ employee.home }}</td>
              <td>{{ employee.mobile }}</td>
              <td>{{ employee.fax }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.emergencyContactPerson }}</td>
              <td>{{ employee.emergencyNumber }}</td>
              <td>{{ employee.city }}</td>
              <td>{{ employee.district }}</td>
              <td>{{ employee.province }}</td>
              <td>{{ employee.electorate }}</td>
              <td>{{ employee.mainRoad }}</td>
              <td>{{ employee.modeOfTransport }}</td>
              <td>{{ employee.distance }}</td>
              <td>{{ employee.travelTime }}</td>
              <td>{{ employee.username }}</td>
              <td>{{ employee.password }}</td>
              <td>{{ employee.departmentID }}</td>
              <td>{{ employee.departmentCode }}</td>
              <td>{{ employee.empRegDate | formatMediumDate }}</td>
              <td>{{ employee.lmu }}</td>
              <td>{{ employee.lmd | formatMediumDatetime }}</td>
              <td>{{ employee.roleId }}</td>
              <td>{{ employee.roleName }}</td>
              <td>{{ employee.epf }}</td>
              <td>{{ employee.etf }}</td>
              <td>{{ employee.dateJoined | formatMediumDatetime }}</td>
              <td>{{ employee.dateResigned | formatMediumDatetime }}</td>
              <td>{{ employee.designation }}</td>
              <td>{{ employee.jobStatusId }}</td>
              <td>{{ employee.jobStatusName }}</td>
              <td>{{ employee.imagePath }}</td>
              <td>{{ employee.bankAccountNo }}</td>
              <td>{{ employee.bankId }}</td>
              <td>{{ employee.bankName }}</td>
              <td>{{ employee.branchId }}</td>
              <td>{{ employee.branchName }}</td>
              <td>{{ employee.salaryPaymentBasis }}</td>
              <td>{{ employee.empStatus }}</td>
              <td>{{ employee.religion }}</td>
              <td>{{ employee.experience }}</td>
              <td>{{ employee.qualifications }}</td>
              <td>{{ employee.attendanceCode }}</td>
              <td>{{ employee.isActive }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/employee', employee.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(employee)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
