/* sales-invoice.component.css */
/* Style the form */
form {
  width: 170%;
  margin: 10px auto;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  margin-left: -200px;
}

/* Style the table */
table {
  border-collapse: collapse;
  margin-bottom: 20px;
  overflow-x: auto;
  width: 150%;
}

table td,
table th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

/* Style for all inputs */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Style the buttons */
button {
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

button.remove {
  background-color: #ff4d4d;
  color: white;
  border: none;
  margin-top: 10px;
}

button.add-row {
  background-color: #4caf50;
  color: white;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  width: 10%;
}
