<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<div class="d-flex justify-content">
  <form name="editForm" novalidate [formGroup]="editForm">
    <h2 id="jhi-sales-invoice-lines-heading" data-cy="SalesInvoiceLinesCreateUpdateHeading" *ngIf="showCodeField"></h2>
    <style>
      .table-bordered {
        border: 2px solid #333 !important;
      }

      .table-bordered th,
      .table-bordered td {
        border: 1px solid #999 !important;
      }

      .table {
        border-collapse: collapse;
        background-color: #fdfdfd;
      }

      .table th,
      .table td {
        padding: 8px;
      }
    </style>

    <jhi-alert-error></jhi-alert-error>

    <div>
      <table>
        <thead>
          <tr>
            <th *ngIf="showCodeField" style="width: 120px">ID</th>
            <th *ngIf="showCodeField" style="width: 150px">Invoice Id</th>
            <th *ngIf="showCodeField" style="width: 150px">Line Id</th>
            <th *ngIf="showCodeField" style="width: 150px">Item Id</th>
            <th style="width: 100px">Item Code</th>
            <th style="width: 600px">Item Name</th>
            <th *ngIf="showCodeField" style="width: 200px">Description</th>
            <th *ngIf="showCodeField" style="width: 150px">Unit Of Measurement</th>
            <th style="width: 120px">Quantity</th>
            <th *ngIf="showCodeField" style="width: 150px">Item Cost</th>
            <th *ngIf="showCodeField" style="width: 150px">Item Price</th>
            <th style="width: 120px" *ngIf="false">Discount</th>
            <th *ngIf="showCodeField" style="width: 120px">Tax</th>
            <th style="width: 80px">Selling Price</th>
            <th style="width: 80px">Line Total</th>
            <th *ngIf="showCodeField" style="width: 120px">Lmu</th>
            <th *ngIf="showCodeField" style="width: 180px">Lmd</th>
            <th *ngIf="showCodeField" style="width: 100px">Nbt</th>
            <th *ngIf="showCodeField" style="width: 100px">Vat</th>
            <th style="width: 150px">Actions</th>
          </tr>
        </thead>
        <tbody formArrayName="salesInvoiceLines">
          <tr *ngFor="let line of salesInvoiceLinesArray.controls; let i = index" [formGroupName]="i">
            <td *ngIf="showCodeField">
              <input type="number" formControlName="id" [readonly]="true" *ngIf="line.get('id')?.value" />
            </td>
            <td *ngIf="showCodeField"><input type="number" class="form-control custom" formControlName="id" type="text" /></td>
            <td *ngIf="showCodeField"><input type="number" class="form-control custom" formControlName="invoiceid" type="text" /></td>
            <td *ngIf="showCodeField"><input type="number" class="form-control custom" formControlName="lineid" type="text" /></td>
            <td *ngIf="showCodeField"><input type="number" class="form-control custom" formControlName="itemid" type="text" /></td>

            <td>
              <input
                formControlName="itemcode"
                type="text"
                (input)="onItemCodeInput($event, i)"
                (change)="onItemCodeSelect($event, i)"
                [attr.list]="'autocomplete' + i"
              />
              <datalist [id]="'autocomplete' + i">
                <option *ngFor="let item of filteredItems[i]" [value]="item.code">
                  {{ item.name }}
                </option>
              </datalist>
            </td>

            <td>
              <input
                formControlName="itemname"
                type="text"
                (input)="onItemNameInput($event, i)"
                (change)="onItemCodeSelect($event, i)"
                [attr.list]="'autocomplete' + i"
              />
              <datalist [id]="'autocomplete' + i">
                <option *ngFor="let item of filteredItems[i]" [value]="item.code">
                  {{ item.name }}
                </option>
              </datalist>
            </td>

            <td *ngIf="showCodeField"><input type="text" class="form-control custom" formControlName="description" /></td>
            <td *ngIf="showCodeField"><input type="text" class="form-control custom" formControlName=" unitofmeasurement" /></td>
            <td><input type="number" class="form-control custom" formControlName="quantity" (input)="onQuantityChange(i)" /></td>
            <td *ngIf="showCodeField"><input type="number" class="form-control custom" formControlName="itemcost" /></td>
            <td *ngIf="showCodeField"><input type="number" class="form-control custom" formControlName="itemprice" /></td>
            <td *ngIf="false"><input type="number" class="form-control custom" formControlName="discount" /></td>
            <td *ngIf="showCodeField"><input type="number" class="form-control custom" formControlName="tax" /></td>
            <td style="width: 720px">
              <input type="number" class="form-control custom" formControlName="sellingprice" step="0.01" />
            </td>

            <td style="width: 780px"><input type="number" class="form-control custom" formControlName="linetotal" /></td>
            <td *ngIf="showCodeField"><input type="number" class="form-control custom" formControlName="lmu" /></td>
            <td *ngIf="showCodeField"><input type="datetime-local" class="form-control custom" formControlName="lmd" /></td>
            <td *ngIf="showCodeField"><input type="checkbox" class="form-check" formControlName="nbt" /></td>
            <td *ngIf="showCodeField"><input type="checkbox" class="form-check" formControlName="vat" /></td>
            <td class="text-center">
              <button type="button" (click)="removeSalesInvoiceLine(i)" class="btn btn-link text-danger p-0">
                <i class="fas fa-trash fs-5"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="showCodeField">
      <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="creates()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
      </button>

      <button
        *ngIf="false"
        type="submit"
        id="save-entity"
        data-cy="entityCreateSaveButton"
        [disabled]="editForm.invalid || isSaving"
        class="btn btn-primary"
      >
        <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
      </button>
      <button (click)="creates()">click</button>
    </div>
    <button *ngIf="false" (click)="creates()">click</button>
  </form>
</div>
