<form [formGroup]="editForm">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Invoice ID</th>
        <th>Line ID</th>
        <th>Item ID</th>
        <th>Item Code</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Unit of Measurement</th>
        <th>Quantity</th>
        <th>Item Cost</th>
        <th>Item Price</th>
        <th>Discount</th>
        <th>Tax</th>
        <th>Selling Price</th>
        <th>Line Total</th>
        <th>LMU</th>
        <th>LMD</th>
        <th>NBT</th>
        <th>VAT</th>
        <th>Actions</th>
        <!-- Add actions like remove -->
      </tr>
    </thead>
    <tbody formArrayName="salesInvoiceLines">
      <tr *ngFor="let line of salesInvoiceLinesArray.controls; let i = index" [formGroupName]="i">
        <td><input formControlName="id" type="text" /></td>
        <td><input formControlName="invoiceid" type="text" /></td>
        <td><input formControlName="lineid" type="text" /></td>
        <td><input formControlName="itemid" type="text" /></td>

        <td>
          <input
            formControlName="itemcode"
            type="text"
            (input)="onItemCodeInput($event, i)"
            (change)="onItemCodeSelect($event, i)"
            [attr.list]="'autocomplete' + i"
          />
          <datalist [id]="'autocomplete' + i">
            <option *ngFor="let item of filteredItems[i]" [value]="item.code">
              {{ item.name }}
            </option>
          </datalist>
        </td>

        <td>
          <input
            formControlName="itemname"
            type="text"
            (input)="onItemNameInput($event, i)"
            (change)="onItemCodeSelect($event, i)"
            [attr.list]="'autocomplete' + i"
          />
          <datalist [id]="'autocomplete' + i">
            <option *ngFor="let item of filteredItems[i]" [value]="item.code">
              {{ item.name }}
            </option>
          </datalist>
        </td>

        <td><input formControlName="description" type="text" /></td>
        <td><input formControlName="unitofmeasurement" type="text" /></td>
        <td><input formControlName="quantity" type="number" /></td>
        <td><input formControlName="itemcost" type="number" /></td>
        <td><input formControlName="itemprice" type="number" /></td>
        <td><input formControlName="discount" type="number" /></td>
        <td><input formControlName="tax" type="number" /></td>
        <td><input formControlName="sellingprice" type="number" /></td>
        <td><input formControlName="linetotal" type="number" /></td>
        <td><input formControlName="lmu" type="text" /></td>
        <td><input formControlName="lmd" type="text" /></td>
        <td><input formControlName="nbt" type="checkbox" /></td>
        <td><input formControlName="vat" type="checkbox" /></td>
        <td>
          <button type="button" (click)="removeSalesInvoiceLine(i)" class="remove">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button type="button" (click)="addSalesInvoiceLine()" class="add-row">Add Row</button>
</form>
