@if (paymentMethod) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(paymentMethod.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="paymentMethodDeleteDialogHeading">Confirm delete operation</h4>
    </div>

    <div class="modal-body">
      <p id="jhi-delete-paymentMethod-heading">Are you sure you want to delete Payment Method {{ paymentMethod.id }}?</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()"></button>

      <button id="jhi-confirm-delete-paymentMethod" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger"></button>
    </div>
  </form>
}
