<div class="row">
  <div class="col-md-9">
    <h1 class="display-4 animate-slideIn">
      <img src="content/images/rac.jpg" alt="JHipster Family Member" class="image-resize" />

      <span>Welcome, Rathaweera auto!</span>
    </h1>
  </div>

 
  <style>
    .image-resize {
      width: 150px; /* Adjust the width */
      height: auto; /* Keep the aspect ratio */
    }
  </style>
<div>
    @if (account() !== null) {
        <jhi-autocareopenjob></jhi-autocareopenjob>
        @if (account()) {
          <span id="home-logged-message" *ngIf="false">You are logged in as user &quot;{{ account()!.login }}&quot;.</span>
        }
    } @else {
      <div class="alert alert-warning">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a
        ><span
          >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
          (login=&quot;user&quot; and password=&quot;user&quot;).</span
        >
      </div>

      <div class="alert alert-warning">
        <span>You don&apos;t have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="/account/register">Register a new account</a>
      </div>
    }
  </div>
</div>
