<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (commonserviceoption(); as commonserviceoptionRef) {
      <div>
        <h2 data-cy="commonserviceoptionDetailsHeading"><span>Commonserviceoption</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ commonserviceoptionRef.id }}</span>
          </dd>
          <dt><span>Mainid</span></dt>
          <dd>
            <span>{{ commonserviceoptionRef.mainid }}</span>
          </dd>
          <dt><span>Code</span></dt>
          <dd>
            <span>{{ commonserviceoptionRef.code }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ commonserviceoptionRef.name }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ commonserviceoptionRef.description }}</span>
          </dd>
          <dt><span>Value</span></dt>
          <dd>
            <span>{{ commonserviceoptionRef.value }}</span>
          </dd>
          <dt><span>Isactive</span></dt>
          <dd>
            <span>{{ commonserviceoptionRef.isactive }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ commonserviceoptionRef.lmd | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ commonserviceoptionRef.lmu }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/commonserviceoption', commonserviceoptionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
