@if (banks) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(banks.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="banksDeleteDialogHeading">Confirm delete operation</h4>
    </div>

    <div class="modal-body">
      <p id="jhi-delete-banks-heading">Are you sure you want to delete Banks {{ banks.id }}?</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()"></button>

      <button id="jhi-confirm-delete-banks" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger"></button>
    </div>
  </form>
}
