<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (billingserviceoptionvalues(); as billingserviceoptionvaluesRef) {
      <div>
        <h2 data-cy="billingserviceoptionvaluesDetailsHeading"><span>Billingserviceoptionvalues</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ billingserviceoptionvaluesRef.id }}</span>
          </dd>
          <dt><span>Vehicletypeid</span></dt>
          <dd>
            <span>{{ billingserviceoptionvaluesRef.vehicletypeid }}</span>
          </dd>
          <dt><span>Billingserviceoptionid</span></dt>
          <dd>
            <span>{{ billingserviceoptionvaluesRef.billingserviceoptionid }}</span>
          </dd>
          <dt><span>Value</span></dt>
          <dd>
            <span>{{ billingserviceoptionvaluesRef.value }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ billingserviceoptionvaluesRef.lmd | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ billingserviceoptionvaluesRef.lmu }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button
          type="button"
          [routerLink]="['/billingserviceoptionvalues', billingserviceoptionvaluesRef.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
