
<style>
.custom-cancel-btn,
.custom-save-btn {
  width: 50%; /* Each button takes half the width */
  border: none;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 10px 15px; 
}

.button-container {
  display: flex;
  width: 100%; /* Ensures full width */
  gap: 4px; /* Minimal spacing between buttons */
}

</style>
<div class="d-flex container-fluid p-4">
  <div class="col-12">

    <div class="row">
      <!-- Left Side: Form -->
      <div class="col-6">
        <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
          <h2 id="jhi-autocarejob-heading" data-cy="AutocarejobCreateUpdateHeading">Create Autocare Job</h2>

          <div>
            <jhi-alert-error></jhi-alert-error>

            @if (editForm.controls.id.value !== null) {
              <div class="mb-3">
                <label class="form-label" for="field_id">ID</label>
                <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
              </div>
            }

            <!-- <div class="mb-3">
          <label class="form-label" for="field_jobnumber">Jobnumber</label>
          <input
            type="number"
            class="form-control"
            name="jobnumber"
            id="field_jobnumber"
            data-cy="jobnumber"
            formControlName="jobnumber"
            [disabled]="true"
          />
        </div> -->

            <!-- <div class="mb-3">
          <label class="form-label" for="field_vehicleid">Vehicleid</label>
          <input type="number" class="form-control" name="vehicleid" id="field_vehicleid" data-cy="vehicleid" formControlName="vehicleid" />
        </div> -->

            <div class="row">
              <div class="mb-3 col-6">
                <label class="form-label" for="field_vehiclenumber">Vehicle Number</label>
                <input
                  type="text"
                  class="form-control"
                  name="vehiclenumber"
                  id="field_vehiclenumber"
                  data-cy="vehiclenumber"
                  formControlName="vehiclenumber"
                  autocomplete="off"
                  list="vehiclenumberList"
                  (change)="onVehicleSelect($event)"
                  (input)="onVehicleSearch($event)"
                  [ngModel]="vehicleNo"
                  [class.is-invalid]="editForm.controls.vehiclenumber.invalid && editForm.controls.vehiclenumber.touched"
                  required
                />
                <datalist id="vehiclenumberList">
                  <option *ngFor="let item of filteredVehicles" [value]="item.vehiclenumber">
                    {{ item.conformdate }}
                  </option>
                </datalist>
                <div *ngIf="editForm.controls.vehiclenumber.invalid && editForm.controls.vehiclenumber.touched" class="invalid-feedback">
                  Vehicle Number is required.
                </div>
              </div>

              <div class="mb-3 col-6">
                <label class="form-label" for="field_millage">Millage</label>
                <input type="number" class="form-control" name="millage" id="field_millage" data-cy="millage" formControlName="millage" />
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="field_jobtypename">Job Type Name</label>
              <select
                class="form-control"
                name="jobtypename"
                id="field_jobtypename"
                data-cy="jobtypename"
                formControlName="jobtypename"
                [ngModel]="jobType"
              >
                <option value="Full Service and Other Services">Full Service and Other Services</option>
                <option value="Detailing services">Detailing services</option>
                <option value="Performance Care">Performance Care</option>
                <option value="Other">Other</option>
              </select>
            </div>

            <!-- New input field -->
            <div class="mb-3">
              <label class="form-label" for="field_description">Description</label>
              <input
                type="text"
                class="form-control"
                name="description"
                id="field_description"
                data-cy="description"
                formControlName="description"
                placeholder="Enter description"
              />
            </div>

            <!-- <div class="mb-3">
          <label class="form-label" for="field_jobopenby">Jobopenby</label>
          <input type="number" class="form-control" name="jobopenby" id="field_jobopenby" data-cy="jobopenby" formControlName="jobopenby" />
        </div> -->

            <!-- <div class="mb-3">
          <label class="form-label" for="field_jobopentime">Jobopentime</label>
          <div class="d-flex">
            <input
              id="field_jobopentime"
              data-cy="jobopentime"
              type="datetime-local"
              class="form-control"
              name="jobopentime"
              formControlName="jobopentime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div> -->

            <div class="mb-3">
              <label class="form-label" for="field_customername">Customer Name</label>
              <input
                type="text"
                class="form-control"
                name="customername"
                id="field_customername"
                data-cy="customername"
                formControlName="customername"
                [ngModel]="customername"
                [class.is-invalid]="editForm.controls.customername.invalid && editForm.controls.customername.touched"
                required
              />
              <div *ngIf="editForm.controls.customername.invalid && editForm.controls.customername.touched" class="invalid-feedback">
                Customer Name is required.
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="field_customertel">Customer Telphone Number</label>
              <input
                type="text"
                class="form-control"
                name="customertel"
                id="field_customertel"
                data-cy="customertel"
                formControlName="customertel"
                pattern="^\d{10}$"
                [ngModel]="customerTel"
                [class.is-invalid]="editForm.controls.customertel.invalid && editForm.controls.customertel.touched"
                required
              />
              <div *ngIf="editForm.controls.customertel.errors?.required && editForm.controls.customertel.touched" class="invalid-feedback">
                Customer Telephone Number is required.
              </div>
              <div *ngIf="editForm.controls.customertel.errors?.pattern && editForm.controls.customertel.touched" class="invalid-feedback">
                Enter a valid 10-digit phone number.
              </div>
            </div>

            <!-- <div class="mb-3">
          <label class="form-label" for="field_customerid">Customerid</label>
          <input
            type="number"
            class="form-control"
            name="customerid"
            id="field_customerid"
            data-cy="customerid"
            formControlName="customerid"
          />
        </div> -->

            <!-- <div class="mb-3">
          <label class="form-label" for="field_advisorfinalcheck">Advisorfinalcheck</label>
          <input
            type="checkbox"
            class="form-check"
            name="advisorfinalcheck"
            id="field_advisorfinalcheck"
            data-cy="advisorfinalcheck"
            formControlName="advisorfinalcheck"
          />
        </div> -->

            <div class="mb-3">
              <label class="form-label" for="field_jobdate">Job Date</label>
              <div class="d-flex">
                <input
                  id="field_jobdate"
                  data-cy="jobdate"
                  type="datetime-local"
                  class="form-control"
                  name="jobdate"
                  formControlName="jobdate"
                  placeholder="YYYY-MM-DD HH:mm"
                  required
                />
              </div>
            </div>

            <!-- <div class="mb-3">
          <label class="form-label" for="field_iscompanyservice">Iscompanyservice</label>
          <input
            type="checkbox"
            class="form-check"
            name="iscompanyservice"
            id="field_iscompanyservice"
            data-cy="iscompanyservice"
            formControlName="iscompanyservice"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_freeservicenumber">Freeservicenumber</label>
          <input
            type="text"
            class="form-control"
            name="freeservicenumber"
            id="field_freeservicenumber"
            data-cy="freeservicenumber"
            formControlName="freeservicenumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_companyid">Companyid</label>
          <input type="number" class="form-control" name="companyid" id="field_companyid" data-cy="companyid" formControlName="companyid" />
        </div> -->

            <div class="mb-3">
              <label class="form-label" for="field_updatetocustomer">Call to Customer</label>
              <input
                type="checkbox"
                class="form-check"
                name="updatetocustomer"
                id="field_updatetocustomer"
                data-cy="updatetocustomer"
                formControlName="updatetocustomer"
              />
            </div>

            <!-- <div class="mb-3">
          <label class="form-label" for="field_nextgearoilmilage">Nextgearoilmilage</label>
          <input
            type="text"
            class="form-control"
            name="nextgearoilmilage"
            id="field_nextgearoilmilage"
            data-cy="nextgearoilmilage"
            formControlName="nextgearoilmilage"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isjobinvoiced">Isjobinvoiced</label>
          <input
            type="checkbox"
            class="form-check"
            name="isjobinvoiced"
            id="field_isjobinvoiced"
            data-cy="isjobinvoiced"
            formControlName="isjobinvoiced"
          />
        </div> -->

            <div class="mb-3">
              <label class="form-label" for="field_iswaiting">Customer Is waiting</label>
              <input
                type="checkbox"
                class="form-check"
                name="iswaiting"
                id="field_iswaiting"
                data-cy="iswaiting"
                formControlName="iswaiting"
              />
            </div>

            <!-- <div class="mb-3">
          <label class="form-label" for="field_iscustomercomment">Iscustomercomment</label>
          <input
            type="checkbox"
            class="form-check"
            name="iscustomercomment"
            id="field_iscustomercomment"
            data-cy="iscustomercomment"
            formControlName="iscustomercomment"
          />
        </div> -->
          </div>

          <div class="button-container">
            <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary custom-cancel-btn" (click)="previousState()">
              <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
            </button>

            <button
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              [disabled]="editForm.invalid || isSaving"

              class="btn btn-success custom-save-btn"


            >
              <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
            </button>
          </div>
        </form>
      </div>
      <!-- Right Side: Appointments List -->
      <div class="col-6">
        <br /><br /><br />
        <h5>Current Appointments</h5>

        <div *ngIf="todayAppointments.length > 0; else noAppointments">
          <table class="table table-striped table-bordered">
            <thead class="table-info">
              <tr>
                <th>Customer Name</th>
                <th>Vehicle Number</th>
                <th>Appointment Date</th>
                <th>Appointment Type</th>
                <th>Contact Number</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appointment of todayAppointments">
                <td>{{ appointment.customername }}</td>
                <td>{{ appointment.vehiclenumber }}</td>
                <td>{{ appointment!.conformdate?.toString()| date:'medium' }}</td>
                <td>{{ jobTypeMap[appointment.appointmenttype ?? 0] }}</td>
                <td>{{ appointment.contactnumber }}</td>
                <td>
                  <button class="btn btn-info btn-sm" (click)="loadAppointment(appointment)">Load</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <ng-template #noAppointments>
          <p>No appointments for today.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
